.product{
    padding: 0 0 100px 0;
    text-align: center;
}
.product-content-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 30px;
}
.product{
    text-align: center;
    
    padding: 50px;
}

.product img{
width: 150px;
height: 200px;
margin-bottom: 10px;
}







